/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

.post-content p, .post-content li {
   font-size: 16px;
   color: #373737;
}

.post-content h1 {
   font-size: 2rem;
}

.post-content h2 {
   font-size: 1.625rem;
}

.post-content h3 {
   font-size: 1.325rem;
}

h1, h2, h3, h4 {
   font-weight: bold !important;
   margin-bottom: 0.5rem !important;
}

pre, code {
   background-color: #edf7ff;
   border: none;
}

blockquote {
   text-align: left;
}
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
